

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
	.bg{
		@include pos-scale(-100, 0, 1);
		// @include pos-scale(0, 0, .5);
	}

	.line{
		clip: rect(0px 600px 1200px 120px);
	}
	
	


	
}

.line2{
		clip: rect(0px 600px 1200px 50px);
	}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
}

